{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<h1>Movies</h1>
<div class="container">
        {% for movie in movies %}
        <a href="{{ path('app_movie_show', {'id': movie.id}) }}" class="card">
            <div class="card-body">
                <img src="images/{{ movie.poster }}" class="card-img-top" alt="...">
                <h5 class="card-title">{{ movie.name }}</h5>
                <div class="synopsis">
                    <p class="card-text">{{ movie.synopsis }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
</div>
{% endblock %}
