{% extends 'base.html.twig' %}

{% block title %}Hello ComedianController!{% endblock %}

{% block body %}
<h1>Comedian</h1>
<div class="container">
    {% for comedian in comedians %}
    <a href="{{ path('app_person_show', {'id': comedian.person.id}) }}" class="card">
        <img src="images/{{ comedian.person.poster }}" alt="{{ comedian.person.name }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ comedian.person.name }}</h5>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
