{% extends 'base.html.twig' %}

{% block title %}Hello ComedianController!{% endblock %}

{% block body %}
<h1>Directors</h1>
<div class="container row">
    {% for director in directors %}
        <a href="{{ path('app_person_show', {'id': director.person.id}) }}" class="card">
            <img src="images/{{ director.person.poster }}" class="card-img-top" alt="{{ director.person.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ director.person.name }}</h5>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
